<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OfficeDrawIo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OfficeDrawIo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <OfficeDrawIo.Properties.Settings>
            <setting name="DrawIoExePath" serializeAs="String">
                <value>C:\Program Files\draw.io\draw.io.exe</value>
            </setting>
        </OfficeDrawIo.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <OfficeDrawIo.Properties.Settings>
            <setting name="DrawIoUrl" serializeAs="String">
                <value>https://about.draw.io/integrations/</value>
            </setting>
        </OfficeDrawIo.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
